* {
    box-sizing: border-box;
    border-radius: 0.5vw;
    text-decoration: none;
    --light-text-col: #ffddbb;
    --bkg-col: #ffddbb;
    --btn-col: #000314;
    --h1-col: #5dbfff;
    --dark-bkg-col: #00162c;
    --bright-border-col: #e99536;
    --go-col: #008b6b;
    --stop-col: #eda2ab;
    --medium-light-text-col: #00d9de;
}

body, html {
    margin: 0;
    padding: 0;
    color: var(--light-text-col);
    background-color: var(---bkg-col);
    font-family: sans-serif;
}

