* {
    box-sizing: border-box;
    border-radius: 0.5vw;
    text-decoration: none;
    --light-text-col: #ffddbb;
    --bkg-col: #98c4ff;
    --btn-col: #000314;
    --h1-col: #5dbfff;
    --dark-bkg-col: #00162c;
    --bright-border-col: #e99536;
    --go-col: #008b6b;
    --stop-col: #eda2ab;
    --medium-light-text-col: #00d9de;
}

body, html {
    margin: 0;
    padding: 0;
    background-color: var(--bkg-col);
    font-family: sans-serif;
}

.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 2vmax;
    justify-items: center;
    align-items: center;
    justify-content: space-around;
    align-content: start;  
    background-color: var(--dark-bkg-col);         
    color: var(--light-text-col);
    padding: 1vh 1vw;
}

h1 {
    font-size: 2.8vmax;
}

h2 {
    font-size: 2.2vmax;
}

h1, h2 {
    font-weight: normal;
}

#result {
    color: var(--medium-light-text-col);
}

td * {
    color: var(--medium-light-text-col);
    padding: 1vw;
    font-size: 2vw;
} 

th {
    color: var(--bright-border-col);
}
