* {
    box-sizing: border-box;
    text-decoration: none;
    
}

body, html {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
  background-color: #ffddcc;
  background-position: center;
  min-height: 100px; 
  max-height: 100px;
  /*opacity: 0.5;*/
  position: sticky;
  top: 0;
  z-index: 64; 
}

.section {
    padding-top: 4vh;
    padding-bottom: 4vh;
}

header * {
    opacity: 1.0;
}

.main-link {
    font-size: 2.4vw;
    float: right;
}

.site-name {
    font-size: 3.3vw;
    font-weight: bold;
    position: relative;
    left: -10vw;
    top: -1.5vh;
}

.nav-wrapper {
    min-height: 100px;
}

.genus, .veg-name {
    text-transform: capitalize;
    font-size: 1.2vw;
}

.species, .veg-category {
    font-size: 1vw;
}

.btn {
    font-size: 2.4vw;
    background-color: var(--btn-col);
    color: var(--bright-border-col);
    width: 20vw;
    height: 10vw;
    padding: 3px 3px;
    text-align: center;
    font-weight: bold;
    -webkit-box-shadow: 0 0 1px 1px;
            box-shadow: 0 0 1px 1px;
    cursor: pointer;
    margin: 1px 1px 1px 1px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    border: 6px groove var(--light-text-col);
    border-radius: 5px;
}

.btn-login {
    justify-self: center;
}

.name {
    font-size: 3vw;
    padding: 1vh 1vw;
    border: 8px ridge gold;    
}

