<!-- Form view to ennable user to add a veg to database -->
{% extends "layout.html" %}

{% block title %}
	{{ "Add a New Vegetable" }}
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}
   <h5>Create a new vegetable entry <!-- s -->...</h5>
<div class="row">
    <form action="/insertveg" method="POST" class="col s12" enctype = "multipart/form-data">
        <input type="hidden" name="form_id" value="addveg">
    <div class="row">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">category</i>
                    <select id="category_name" name="category_name">
                  <option value="" disabled selected>Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                    <label>Veg Category</label>
                </div>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">grade</i>
                <input id="common_name" name="common_name" type="text" pattern="[A-Za-z\s]{3,}" required>
                <label for="common_name">Veg Name</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">grade</i>
                <input id="genus" name="genus" type="text" pattern="[A-Za-z]{3,}" required>
                <label for="genus">Genus</label>
            </div>
            <div class="input-field col s12">
                <i class="material-icons prefix">grade</i>
                <input id="species" name="species" type="text" pattern="[A-Za-z]{3,}" required>
                <label for="species">Species</label>
            </div>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">grade</i>
            <input id="other_names" name="other_names" type="text">
            <label for="other_names">Other Names</label>
        </div>
    </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="description" id="description" class="materialize-textarea"></textarea>
                <label for="description">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="grow_notes" id="grow_notes" class="materialize-textarea"></textarea>
                <label for="grow_notes">Growing Notes</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="cook_notes" id="cook_notes" class="materialize-textarea"></textarea>
                <label for="cook_notes">Cooking Notes</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">add_a_photo</i>
                <input name="file" id="file" type="file"
                <label for="file">Upload a photograph</label>
            </div>
        </div>
        <button class="btn black-text green accent-4 waves-effect waves-light" type="submit" name="add">Add to Database
            <i class="material-icons right">send</i>
        </button>
        <button class="btn black-text orange accent-4 waves-effect waves-light right" name="cancel"><a href="{{ url_for('veg') }}">Cancel</a>
            <i class="material-icons right">cancel</i>
        </button>
    </form>
</div>
{% endblock %} 