<!doctype html>
<html lang="en">

  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="description" content="West Cork Veg">
      <meta name="author" content="John Lynch">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <title>
        {% block title %}
        {% endblock %}
      </title>
    {% endblock %}
  </head>

  <body>
      <!-- navbar -->
    <header>
      <nav class="nav-wrapper transparent ">
        <div class="container">
          <a href="#" class="brand-logo teal-text"><h1 class="site-name">West Cork Veg</h1></a>
          <a href="#" class="sidenav-trigger" data-target="mobile-menu">
            <i class="material-icons">menu</i>
          </a>
          <ul class="right hide-on-med-and-down">
            <li><a class="teal-text text-lighten-3 right" href="#"><h2 class="main-link">Browse Veg</h2> </a></li>
            <li><a class="teal-text text-lighten-3 right" href="#"><h2 class="main-link">Add Info</h2> </a></li>
            <li><a class="teal-text text-lighten-3 right" href="#"><h2 class="main-link">Find Veg</h2> </a></li>
            <li><a class="teal-text text-lighten-3 right" href="#"><h2 class="main-link">About</h2> </a></li>
          </ul>
          <ul class="sidenav grey lighten-2" id="mobile-menu">
            <li><a class="teal-text text-darken-3" href="#"><h2 class="main-link">Browse Veg</h2> </a></li>
            <li><a class="teal-text text-darken-3" href="#"><h2 class="main-link">Add Info</h2> </a></li>
            <li><a class="teal-text text-darken-3" href="#"><h2 class="main-link">Find Veg</h2> </a></li>
            <li><a class="teal-text text-darken-3" href="#"><h2 class="main-link">About</h2> </a></li>
          </ul>
        </div>
      </nav>
    </header>
        
    <main class="main">
      {% block content %}
      {% endblock %}
    </main> 

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{{url_for('static', filename='scripts/index.js')}}"></script>
  </body>

</html>
