<!-- Template for all pages -->
<!doctype html>
<html lang="en">

  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <meta name="description" content="West Cork Veg">
      <meta name="author" content="John Lynch">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <title>
        {% block title %}
        {% endblock %}
      </title>
    {% endblock %}
  </head>

  <body>
    <!-- navbar -->
    <div class="container">
      <header class = "brown darken-4">
        <nav class = "brown darken-4">
          <div class="nav-wrapper transparent">
            <a href="#!" class="brand-logo orange-text text-accent-3">
            <h2 class = "site-name">West Cork Veg</h2>
            </a>
            <a href="#" class="sidenav-trigger" data-target="mobile-demo">
              <i class="material-icons">menu</i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li><a class="orange-text text-accent-3 right" href = "{{ url_for('veg') }}"><h2 class="main-link">Browse Veg</h2> </a></li>
              <li><a class="orange-text text-accent-3 right" href = "{{ url_for('addveg') }}"><h2 class="main-link" {{ 'hide' if anon else ''}}">Add Veg</h2> </a></li>
              <li><a class="orange-text text-accent-3 right" href = "{{ url_for('links') }}"><h2 class="main-link">Links</h2> </a></li>
              <li><a class="orange-text text-accent-3 right" href = "{{ url_for('about') }}"><h2 class="main-link">About</h2> </a></li>
              <li><a class="orange-text text-accent-3 {{ '' if anon else 'logged-in' }} right" href = "{{ url_for('login') }}"><h2 class="main-link">{{ 'Login' if anon else 'Logout' }}</h2> </a></li>
            </ul>
          </div>
        </nav>
        <ul class="sidenav brown darken-4" id="mobile-demo">
          <li><a class="white-text" href = "{{ url_for('veg') }}"><h2 class="main-link">Browse Veg</h2> </a></li>
          <li><a class="white-text" href = "{{ url_for('addveg') }}"><h2 class="main-link">Add Veg</h2> </a></li>
          <li><a class="white-text" href = "{{ url_for('links') }}"><h2 class="main-link">Links</h2> </a></li>
          <li><a class="white-text" href = "{{ url_for('about') }}"><h2 class="main-link">About</h2> </a></li>
          <li><a class="white-text {{ '' if anon else 'logged-in' }}" href = "{{ url_for('login') }}"><h2 class="main-link">{{ 'Login' if anon else 'Logout' }}</h2> </a></li>
        </ul>

        <!-- Display any messages pushed with 'flash()' -->
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <br>
            <div class="flash-msgs">
              <ul class="flashes">
                {% for message in messages %}
                  <li class = "cyan-text text-accent-4">{{ message }}</li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        {% endwith %}
      </header>
        
      <main class="main">
        {% block content %}
        {% endblock %}
      </main>

    </div>
    
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src={{url_for('static', filename='scripts/index.js')}}></script>
  </body>

</html>
