<!-- Info about the site -->
{% extends "layout.html" %}

{% block title %}
	West Cork Vegetables
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}

    <section class="welcome center-align">
      <h3>
        Useful Links
      </h3>
    </section>
    <section class="section links">      
        <div class="collection  card center-align">
          <a target = "_blank"  class="collection-item green-text text-accent-4" href="https://www.brownenvelopeseeds.com/">Brown Envelope Seeds</a>
          <a target = "_blank"  class="collection-item green-text text-accent-4" href="https://www.fruithillfarm.com/">Fruit Hill Farm</a>
          <a target = "_blank"  class="collection-item green-text text-accent-4" href="https://www.deelish.ie/">Deelish Garden Centre</a>
          <a target = "_blank"  class="collection-item green-text text-accent-4" href="http://skibbereenmarket.com/">Skibbereen Farmers’ Market</a>
          <a target = "_blank"  class="collection-item green-text text-accent-4" href="https://www.teagasc.ie/crops/horticulture/vegetables/">Teagasc</a>
          <a target = "_blank"  class="collection-item green-text text-accent-4" href="http://organictrust.ie/">Organic Trust</a>
          <a target = "_blank"  class="collection-item green-text text-accent-4" href="https://www.rhs.org.uk/advice/grow-your-own/vegetables">UK Royal Horticultural Society</a>
        </div>      
    </section>

{% endblock %}