<!-- Info about the site -->
{% extends "layout.html" %}

{% block title %}
	West Cork Vegetables
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}
    <section class="welcome">
      <h4>
        Useful Links
      </h4>
    </section>
    <section class="section links card center">
      <p class="flow-text">
        Some useful links:

        <a target = "_blank" href="https://www.brownenvelopeseeds.com/">Brown Envelope Seeds</a>
        <a target = "_blank" href="https://www.fruithillfarm.com/">Fruit Hill Farm</a>
        <a target = "_blank" href="https://www.deelish.ie/">Deelish Garden Centre</a>
        <a target = "_blank" href="http://skibbereenmarket.com/">Skibbereen Farmers’ Market</a>
        <a target = "_blank" href="https://www.teagasc.ie/crops/horticulture/vegetables/">Teagasc</a>
        <a target = "_blank" href="http://organictrust.ie/">Organic Trust</a>
        <a target = "_blank" href="https://www.rhs.org.uk/advice/grow-your-own/vegetables">UK Royal Horticultural Society</a>

      </p>
      
    </section>

{% endblock %}