<!-- Info about the site -->
{% extends "layout.html" %}

{% block title %}
	West Cork Vegetables
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}

    <section class="welcome center-align">
      <h3>
        Useful Links
      </h3>
    </section>
    <section class="section links">      
        <div class="collection  card center-align">
          <div class="collection-item">
            <a target = "_blank" class = "green-text text-accent-4" href="https://www.brownenvelopeseeds.com/">Brown Envelope Seeds</a>
            <p>
              A great local supplier of organic vegetable seeds, near Skibbereen, run by one of the nicest people in West Cork!
            </p>
          </div>
          <div class="collection-item">
            <a target = "_blank" class = "green-text text-accent-4" href="https://www.fruithillfarm.com/">Fruit Hill Farm</a>
            <p class = "black-text">
              Another great local supplier of organic seeds, seed potatoes, garlic etc..   They also sell high-quality tools.
            </p>
          </div>
          <div class="collection-item">
            <a target = "_blank" class = "green-text text-accent-4" href="https://www.deelish.ie/">Deelish Garden Centre</a>
            <p class = "black-text">
              Not specifically for vegetable seeds, but largely organic and worth a visit.   Just outside Skibbereen.
            </p>
          </div>
          <div class="collection-item">
            <a target = "_blank" class = "green-text text-accent-4" href="http://skibbereenmarket.com/">Skibbereen Farmers’ Market</a>
            <p class = "black-text">
              One of the best markets around, where in spring and summer you'll find plants, seeds and interesting food galore!   Happens every Saturday morning.
            </p>
          </div>
          <div class="collection-item">
            <a target = "_blank" class = "green-text text-accent-4" href="https://www.teagasc.ie/crops/horticulture/vegetables/">Teagasc</a>
            <p class = "black-text">
              As it says on their website, Teagasc is the Agriculture and Food Development Authority - the national body providing integrated research, advisory and training services to the agriculture and food industry and rural communities.
            </p>
          </div>
          <div class="collection-item">
            <a target = "_blank" class = "green-text text-accent-4" href="http://organictrust.ie/">Organic Trust</a>
            <p class = "black-text">
              One of the main organic certification bodies operating in Ireland.
            </p>
          </div>
          <div class="collection-item">
            <a target = "_blank" class = "green-text text-accent-4" href="https://www.rhs.org.uk/advice/grow-your-own/vegetables">UK Royal Horticultural Society</a>
            <p class = "black-text">
              An old-established UK charity dedicated to plants and gardening.
            </p>
          </div>
          <div class="collection-item" >
            <a target = "_blank"" class = "green-text text-accent-"" href="http://www.teraspora.net/">Website of this site's developer</a>
            <p class = "black-text">
              My website is largely devoted to the digital art I produce by cooking up mathematics and programming in a big pot together.   But there is some stuff about food too!   And there will be more diverse content going forward.
            </p>
          </div>
        </div>      
    </section>

{% endblock %}