<!-- Login form -->
{% extends "layout.html" %}

{% block title %}
	{{ "Login to West Cork Veg" }}
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}
    <form class="login-form" "center-align" action = "/veg" method = "POST">
	    <input type="hidden" name="form_id" value="login">
    <header>
		<h4 class = "invite green darken-4 lime-text text-accent-1">
	     	Login to West Cork Veg...			
		</h4>
	</header>
	    <div class="row center-align">
	    	<div class="input-field col s12 l12">
	    		<i class="material-icons prefix">person</i>
	    		<input class="name" autofocus type = "text" pattern="[A-Za-z]{5,}" required oninvalid = "setCustomValidity('Username must be > 4 letters')" 
   oninput = "setCustomValidity('')" name = "uname"/>
	    		<label for="icon_prefix">Name</label>
	    	</div>
		<div class="row center-align">
	 		<div class="col s12 l12">	    		
	    		<input class="btn btn-large btn-login light-green darken-4 " type = "submit" value = "Login"/>
	    	</div>
		</div>
 	</form>
{% endblock %} 