<!-- View of info for a single veg -->
{% extends "layout.html" %}

{% block title %}
	{{ "West Cork Veg - " +  veg.common_name.capitalize() }}
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}
<h3 class="center"> {{ veg.common_name.capitalize() }} </h3>

<div class="card">
  <div class="center card-content">
    <img src="{{ url_for('static', filename='images/' + veg.common_name + '.jpg') }}" alt="Photo of some green veg">
  </div>
  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" href="#basic-info">Basic Info</a></li>
      <li class="tab"><a href="#grow-notes">Growing Notes</a></li>
      <li class="tab"><a href="#cook-notes">Cooking Notes</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="basic-info">
        <h5> {{ veg.common_name.capitalize() }}: {{ veg.genus.capitalize() }} {{ veg.species }} </h5>
        <h6> Other names: {{ veg.other_names }} </h6>
        <p> {{ veg.description }} </p>
    </div>
    <div id="grow-notes">
        <h5> Growing notes for {{ veg.common_name }}:</h5>
        <p> {{ veg.grow_notes }} </p>
    </div>
    <div id="cook-notes">
        <h5> Cooking notes for {{ veg.common_name }}:</h5>
        <p> {{ veg.cook_notes }}</p>
    </div>
  </div>
</div>
    
{% endblock %} 