{% extends "layout.html" %}

{% block title %}
	West Cork Vegetables
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}
    <section class="welcome">
      <h4>
        Hello {{ uname }}, welcome to West Cork Veg!
      </h4>
      <a href = "addveg" class="waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Add Vegetable</a>
      <p>
        Check out the vegetables you can grow in West Cork!
      </p>
  
    <section class="section veg-list">

	    <table border = 5>
        {% for v in veg %}
         <tr>
            <th class = "veg-name"> {{ v.common_name }} </th>
            <td class = "genus"> {{ v.genus }} </td>
            <td class = "species"> {{ v.species }} </td>
            <td class = "veg-category"> {{ v.category_name }} </td>
            <td class="show">
              <a href = "#" class="waves-effect waves-light btn-small"><i class="material-icons right">details</i>Show</a>
            </td>
            <td class="edit">
              <a href = "#" class="waves-effect waves-light btn-small"><i class="material-icons right">edit</i>Edit</a>
            </td>
         </tr>
        {% endfor %} 
	    </table>

    </section>

{% endblock %}