<!-- Table view of all veg in database -->
{% extends "layout.html" %}

{% block title %}
	West Cork Vegetables
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}
    <section class="welcome">
      <h4>
        Hello {{ "friend" if anon else uname.title() }}, welcome to West Cork Veg!
      </h4>
      <a href = "addveg" class="text-bold green accent-4 black-text waves-effect waves-light btn"><i class="material-icons right">add_circle_outline</i>Add Vegetable</a>
      <h4 class = "right">
        Check out the vegetables you can grow in West Cork!
      </h4>
    </section>
    <section class="section veg-list">

	    <table border = 5>
        <tr class = "lime accent-1">
          <th class = "field-name common_name"> Common Name </th>
            <td class = "field-name genus"> Genus </td>
            <td class = "field-name species"> Species </td>
            <td class = "field-name veg-category"> Category </td>
        </tr>
        {% for v in veg %}
         <tr>
            <th class = "common_name"> {{ v.common_name }} </th>
            <td class = "genus"> {{ v.genus }} </td>
            <td class = "species"> {{ v.species }} </td>
            <td class = "veg-category"> {{ v.category_name }} </td>
            <td class="show">
              <a href = "{{url_for("showveg", veg_id = v._id)}}" class="dbs-action text-bold black-text green accent-4 waves-effect waves-light btn-small"><i class="material-icons right">details</i>Show</a>
            </td>
            <td class = 
              {% if anon %}
                "hide"
              {% else %}
                ""
              {% endif %}
              >
              <a href = "{{url_for("editveg", veg_id = v._id)}}" class="dbs-action text-bold black-text cyan accent-4 waves-effect waves-light btn-small"><i class="material-icons right">edit</i>Edit</a>
            </td>
            <td class = 
              {% if anon %}
                "hide"
              {% else %}
                ""
              {% endif %}
              >
              <a href = "{{url_for("deleteveg", veg_id = v._id)}}" class="dbs-action text-bold black-text deep-orange accent-4 waves-effect waves-light btn-small"><i class="material-icons right">delete_forever</i>Delete</a>
            </td>
         </tr>
        {% endfor %} 
	    </table>

    </section>

{% endblock %}