{% extends "layout.html" %}

{% block title %}
	West Cork Vegetables
{% endblock %}

{% block head %}
  	{{ super() }}
{% endblock %}

{% block content %}
   
    <section class="section veg-list">

	    <table border = 5>
        {% for v in veg %}
         <tr>
            <th> {{ v.common_name }} </th>
            <td class = "genus"> {{ v.genus }} </td>
            <td> {{ v.species }} </td>
            <td> {{ v.category_name }} </td>
         </tr>
        {% endfor %} 
	    </table>

    </section>

{% endblock %}